{% extends 'base.html.twig' %}

{% block title %}Llistat de comptes{% endblock %}
{% block body %}
    <h1>Llistat de comptes</h1>
    <a href="{{ path('compte_new') }}">+ Nou compte</a>

    {% for message in app.flashes('notice') %}
        <strong>Success!</strong> {{ message }}
    {% endfor %}

    <table style="margin-top: 20px;margin-bottom: 10px;">
        <thead>
        <tr>
            <th>Codi</th><th>Saldo</th><th>Client</th>
        </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.codi }}</td><td>{{ compte.saldo }}</td><td>{{ compte.client.nom }}</td>
                <td>
                    <a href="{{ path('compte_delete', {'id': compte.id}) }}">Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hi ha comptes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

{% endblock %}
